mixin operation-gastroplication()
  +group({title: 'Формирование желудочной трубки', type: 'additional'})(
    data-connected='operation' 
    data-number='1'
    data-name='gastroplication'
  ).border-none
    .group__additional-form
      +group-radio-buttons({title: 'Желудочная трубка сформирована по зонду?'})
        +radio({name: 'gastric-tube-by-probe', value: 'Да', label: 'Да'})
        +radio({name: 'gastric-tube-by-probe', value: 'С отступом от зонда', label: 'С отступом от зонда'})
      +input-custom({type: 'number', placeholder: 'Диаметр зонда (Fr)', name: 'probe-diameter'})
      +itc-custom-select({
          id: 'seam-row', 
          name: 'seam-row',
          placeholder: 'Рядность шва',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +group-radio-buttons({title: 'Первый ряд'})
        +radio({name: 'first-row', value: 'Узловой', label: 'Узловой'})
        +radio({name: 'first-row', value: 'Непрерывный', label: 'Непрерывный'})

  +group({title: 'Завершающий этап', type: 'additional'})(
    data-connected='operation'  
    data-number='2'
    data-name='gastroplication'
  )
    .group__additional-form
      +group-radio-buttons({title: 'Дренирование брюшной полости и зон анастомоза'})(data-required='')
        +radio({name: '[gastroplication]drainage-of-the-abdominal-cavity', value: 'Да', label: 'Да'})
        +radio({name: '[gastroplication]drainage-of-the-abdominal-cavity', value: 'Нет', label: 'Нет'})
      +itc-custom-select({
          id: '[gastroplication]thickness-drainage-tube', 
          name: '[gastroplication]thickness-drainage-tube',
          placeholder: 'Толщина дренажной трубки',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[gastroplication]hemostasis-from-staplers', 
          name: '[gastroplication]hemostasis-from-staplers',
          placeholder: 'Гемостаз от степлернх линий',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +group-radio-buttons({title: 'Ушивание лапаротомной раны'})(data-connected='access')
        +radio({name: '[gastroplication]suturing-laparotomy-wound', value: 'Узловым способом', label: 'Узловым способом'})
        +radio({name: '[gastroplication]suturing-laparotomy-wound', value: 'Непрерывной нитью', label: 'Непрерывной нитью'})