mixin operation-sleeve()
  +group({title: 'Формирование желудочной трубки', type: 'additional'})(
    data-connected='operation' 
    data-number='1'
    data-name='sleeve'
  ).border-none
     .group__additional-form
      +group-radio-buttons({title: 'Желудочек сформирован по зонду'})(data-required='')
        +radio({name: '[sleeve]The ventricle is formed by a probe', value: 'Да', label: 'Да'})
        +radio({name: '[sleeve]The ventricle is formed by a probe', value: 'С отступом от зонда', label: 'С отступом от зонда'})
      +itc-custom-select({
          id: '[sleeve]stitching-machine', 
          name: '[sleeve]stitching-machine',
          placeholder: 'Сшивающий аппарат ',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +input-custom({type: 'number', placeholder: 'Количество кассет', name: '[sleeve]number-of-cassettes'})
      +input-custom({type: 'text', placeholder: 'Урепление линии шва', name: '[sleeve]strengthening-the-seam'})
      +input-custom({type: 'number', placeholder: 'Диаметр зонда', name: '[sleeve]probe-diameter'})
      +itc-custom-select({
          id: '[sleeve]used-cassettes', 
          name: '[sleeve]used-cassettes',
          placeholder: 'Использованные кассеты',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[sleeve]indent-gatekeeper', 
          name: '[sleeve]indent-gatekeeper',
          placeholder: 'Отступ от привратника (см)',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[sleeve]hiatus-treatment', 
          name: '[sleeve]hiatus-treatment',
          placeholder: 'Обработка хиатуса',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
  +group({title: 'Завершающий этап', type: 'additional'})(
    data-connected='operation'  
    data-number='2'
    data-name='sleeve'
  )
    .group__additional-form
      +group-radio-buttons({title: 'Дренирование брюшной полости и зон анастомоза'})(data-required='')
        +radio({name: '[sleeve]drainage-of-the-abdominal-cavity', value: 'Да', label: 'Да'})
        +radio({name: '[sleeve]drainage-of-the-abdominal-cavity', value: 'Нет', label: 'Нет'})
      +itc-custom-select({
          id: '[sleeve]thickness-drainage-tube', 
          name: '[sleeve]thickness-drainage-tube',
          placeholder: 'Толщина дренажной трубки',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[sleeve]hemostasis-from-staplers', 
          name: '[sleeve]hemostasis-from-staplers',
          placeholder: 'Гемостаз от степлернх линий',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +group-radio-buttons({title: 'Ушивание лапаротомной раны'})(data-connected='access')
        +radio({name: '[sleeve]suturing-laparotomy-wound', value: 'Узловым способом', label: 'Узловым способом'})
        +radio({name: '[sleeve]suturing-laparotomy-wound', value: 'Непрерывной нитью', label: 'Непрерывной нитью'})