mixin operation-bpd()
  +group({title: 'Формирование желудочной трубки', type: 'additional'})(
    data-connected='operation' 
    data-number='1'
    data-name='bpd'
  ).border-none
     .group__additional-form
      +group-radio-buttons({title: 'Желудочек сформирован по зонду'})
        +radio({name: '[bpd]The ventricle is formed by a probe', value: 'Да', label: 'Да'})
        +radio({name: '[bpd]The ventricle is formed by a probe', value: 'С отступом от зонда', label: 'С отступом от зонда'})
      +itc-custom-select({
          id: '[bpd]stitching-machine', 
          name: '[bpd]stitching-machine',
          placeholder: 'Сшивающий аппарат ',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +input-custom({type: 'number', placeholder: 'Количество кассет', name: '[bpd]number-of-cassettes'})
      +input-custom({type: 'text', placeholder: 'Урепление линии шва', name: '[bpd]strengthening-the-seam'})
      +input-custom({type: 'number', placeholder: 'Диаметр зонда', name: '[bpd]probe-diameter'})
      +itc-custom-select({
          id: '[bpd]used-cassettes', 
          name: '[bpd]used-cassettes',
          placeholder: 'Использованные кассеты',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[bpd]indent-gatekeeper', 
          name: '[bpd]indent-gatekeeper',
          placeholder: 'Отступ от привратника (см)',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[bpd]hiatus-treatment', 
          name: '[bpd]hiatus-treatment',
          placeholder: 'Обработка хиатуса',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
  +group({title: 'Формирование анастомозов', type: 'additional'})(
      data-connected='operation' 
      data-number='2'
      data-name='bpd'
      )
    .group__additional-form
      +group-radio-buttons({title: 'Сохранение правой гастродуоденальной артерии'})(data-required='')
        +radio({name: 'preservation-artery', value: 'Да', label: 'Да'})
        +radio({name: 'preservation-artery', value: 'Нет', label: 'Нет'})
      +itc-custom-select({
            id: 'bpd-mobilization-bulb', 
            name: '[bpd]mobilization-bulb',
            placeholder: 'Уровень мобилизации луковицы (отступ от привратника)',
            options: [
              {
                index: 0,
                value: 'value1',
                txt: 'List item 1'
              },
              {
                index: 1,
                value: 'value2',
                txt: 'List item 2'
              },
              {
                index: 2,
                value: 'value3',
                txt: 'List item 3'
              },
              {
                index: 3,
                value: 'value4',
                txt: 'List item 4'
              },
            ]
          })(data-required='')
      +itc-custom-select({
          id: '[bpd]gut-place', 
          name: '[bpd]gut-place',
          placeholder: 'Метод определения места пересечения тонкой кишки',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +input-custom({type: 'number', placeholder: 'Длина тонкой кишки (см)', name: '[bpd]small-intestine-length'})(data-required='')
      +input-custom({type: 'number', placeholder: 'Длина общей петли (см)', name: '[bpd]number-of-cassettes'})
      +input-custom({type: 'number', placeholder: 'Отступ от связки Трейтца (см)', name: '[bpd]ident-treitz'})
      +input-custom({type: 'number', placeholder: 'Длина алиментарной петли (см)', name: '[bpd]length-alimentary-loop'})
      +input-custom({type: 'number', placeholder: 'Длина билиопанкреатической петли (см)', name: '[bpd]length-biliopancreatic-loop'})
      .group__title-subgroup
        span Дуоденоэнтероанастомоз
      +group-radio-buttons({title: 'Отсечение торцевой степлерной линии'})
        +radio({name: '[bpd]cutting-stapler-line', value: 'Да', label: 'Да'})
        +radio({name: '[bpd]cutting-stapler-line', value: 'Просвет вскрыт другим способом', label: 'Просвет вскрыт другим способом'})
      +itc-custom-select({
              id: 'Formation-of-DEA', 
              name: 'Formation-of-DEA',
              placeholder: 'Формирование ДЭА',
              options: [
                {
                  index: 0,
                  value: 'value1',
                  txt: 'List item 1'
                },
                {
                  index: 1,
                  value: 'value2',
                  txt: 'List item 2'
                },
                {
                  index: 2,
                  value: 'value3',
                  txt: 'List item 3'
                },
                {
                  index: 3,
                  value: 'value4',
                  txt: 'List item 4'
                },
              ]
            })
      +input-custom({type: 'number', placeholder: 'Диаметр анастомоза (см)', name: '[bpd]diameter-anastomosis'})
      +input-custom({type: 'text', placeholder: 'Комментарий к анастомозу', name: '[bpd]сommentary-anastomosis'})
      .group__title-subgroup
        span Еюноеюноанастомоз
      +itc-custom-select({
            id: 'bpd-formation-of-EEA', 
            name: 'bpd-formation-of-EEA',
            placeholder: 'Аппаратный с ручным закрытием',
            options: [
              {
                index: 0,
                value: 'value1',
                txt: '1,5 - 3 см'
              },
              {
                index: 1,
                value: 'value2',
                txt: 'List item 2'
              },
              {
                index: 2,
                value: 'value3',
                txt: 'List item 3'
              },
              {
                index: 3,
                value: 'value4',
                txt: 'List item 4'
              },
            ]
          })(data-required='')
      +itc-custom-select({
          id: '[bpd]stitching-machine2', 
          name: '[bpd]stitching-machine2',
          placeholder: 'Сшивающий аппарат ',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
      })
      +input-custom({type: 'number', placeholder: 'Количество кассет', name: '[bpd]number-of-cassettes3'})
      +itc-custom-select({
          id: '[bpd]used-cassettes2', 
          name: '[bpd]used-cassettes2',
          placeholder: 'Использованные кассеты',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
      })
      +itc-custom-select({
          id: '[bpd]select-diameter-anastomosis', 
          name: '[bpd]select-diameter-anastomosis',
          placeholder: 'Диаметр анастомоза (см)',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: '1,5 - 3 см'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
      })
      +group-radio-buttons({title: 'Закрытие технологического отверстия'})
        +radio({name: '[bpd]сlosing-process-hole', value: 'Ручное', label: 'Ручное'})
        +radio({name: '[bpd]сlosing-process-hole', value: 'Аппаратное', label: 'Аппаратное'})
      +itc-custom-select({
        id: '[bpd]manual-anastomosis', 
        name: '[bpd]manual-anastomosis',
        placeholder: 'Ручной анастомоз',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'List item 1'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'List item 2'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'List item 3'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'List item 4'
          },
        ]
      })
      +input-custom({type: 'text', placeholder: 'Комментарий к ручному анастомозу', name: '[bpd]сommentary-heandly-anastomosis'}).long
  +group({title: 'Завершающий этап', type: 'additional'})(
    data-connected='operation'  
    data-number='3'
    data-name='bpd'
  )
    .group__additional-form
      +group-radio-buttons({title: 'Дренирование брюшной полости и зон анастомоза'})(data-required='')
        +radio({name: '[bpd]drainage-of-the-abdominal-cavity', value: 'Да', label: 'Да'})
        +radio({name: '[bpd]drainage-of-the-abdominal-cavity', value: 'Нет', label: 'Нет'})
      +itc-custom-select({
          id: '[bpd]closure-hernia-defects', 
          name: '[bpd]closure-hernia-defects',
          placeholder: 'Закрытие внутренних грыжевых дефетков',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[bpd]thickness-drainage-tube', 
          name: '[bpd]thickness-drainage-tube',
          placeholder: 'Толщина дренажной трубки',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +itc-custom-select({
          id: '[bpd]hemostasis-from-staplers', 
          name: '[bpd]hemostasis-from-staplers',
          placeholder: 'Гемостаз от степлернх линий',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })(data-required='')
      +group-radio-buttons({title: 'Ушивание лапаротомной раны'})(data-connected='access')
        +radio({name: '[bpd]suturing-laparotomy-wound', value: 'Узловым способом', label: 'Узловым способом'})
        +radio({name: '[bpd]suturing-laparotomy-wound', value: 'Непрерывной нитью', label: 'Непрерывной нитью'})