mixin btn-circle(data = {})
  if(data.href)
    a(href=data.href)(class=data.mode ? `btn-circle--${data.mode}` : '').btn-circle
      svg()
        use(xlink:href=`img/sprite.svg#${data.icon}`)
  else
    button(type='button')(class=data.mode ? `btn-circle--${data.mode}` : '').btn-circle
      svg()
        use(xlink:href=`img/sprite.svg#${data.icon}`)