mixin input-custom(data)
  -
    const classes = [];
    let classesString;
    if(data.mods) {
      data.mods.map(mod => classes.push(`input-custom--${mod}`))
    }
    if(data.addClass) {
        classes.push(data.addClass)
    }
    classesString = classes.join(' ')    
    
  .input-custom(class=classes data-connected=data.connected)
    .input-custom__input
      input(
        type=data.type 
        name=data.name 
        placeholder='' 
        disabled!=attributes.disabled 
        id=data.name || attributes.id
        autocomplete=attributes.autocomplete
        value=data.value
        )&attributes(attributes)
      label(for=attributes.id ? attributes.id : data.name)=data.placeholder
      if(data.info)
        +info({id: data.info.id}).input-custom__info
      if(data.calendar)
        .calendar-toggler
          svg
            use(href='img/sprite.svg#calendar')
    .input-custom__message=data.message
